body {
    overflow: hidden;
}

#content {
    height: calc(100% - 50px);
    overflow: auto;
    position: fixed;
    top: 50px;
    width: 100%;
}

.container input {
    display: block;
    margin: .5em 0;
}
